Potato\ Vault/20\ Periodic/21\ Daily\ Notes/*.md
Potato\ Vault/20\ Periodic/22\ Weekly\ Review/*.md
Potato\ Vault/50\ Pages/55\ All\ Pages/*.md
Potato\ Vault/50\ Pages/55\ All\ Pages/*.md
Potato\ Vault/70\ Work/*.md
Potato\ Vault/.obsidian/workspace
*.DS_Store