.theme-dark
{
  --quoteBorder: hsl(var(--accent-h),calc(var(--accent-s) + 15%),calc(var(--accent-d) + 5%));
  --quoteComma: hsl(var(--accent-h),calc(var(--accent-s) + 15%),calc(var(--accent-d) + 5%));
  --quoteBG: hsl(var(--accent-h),calc(var(--base-s) + 25%),calc(var(--base-d) + 15%));

}

.theme-light
{
  --quoteBorder: hsl(var(--accent-h),calc(var(--accent-s) + 30%),calc(var(--accent-l) + 20%));
  --quoteComma: hsl(var(--accent-h),calc(var(--accent-s) + 30%),calc(var(--accent-l) + 15%));
  --quoteBG: hsl(var(--accent-h),calc(var(--base-s)  + 10%),calc(var(--base-l) + 10%));
  /*--quoteBG: hsl(calc(var(--base-h) + 1%),calc(var(--base-s)  + 15%),calc(var(--base-l) - 5%));*/

}


/*.theme-light
{
  --quoteBorder: #8272d0; 
  --quoteComma: #b9adff; 
}
*/

/* for editor */
.cm-quote {
    color: var(--text-normal) !important;
}

/* for preview */
.markdown-preview-view blockquote {
    border: 2px solid;
    border-color: var(--quoteBorder) !important; 
    border-left-width: 2px !important;
    border-radius: 8px 8px 8px 8px;
    font-size: 15px;
    line-height: 1.5em;
    margin: 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--quoteBG);


}

.markdown-preview-view blockquote {
    position: relative;
}

.markdown-preview-view blockquote:after {
    content: '\201C';
    position: absolute;
    top: 0.30em;
    left: -0.45em;
    font-size: 6em;
	color: var(--quoteComma);
}

/* if paraphrasing, wrap your quote in <blockquote class=paraphrase>text</blockquote> */

.markdown-preview-view blockquote.paraphrase:after { 
	display: none;
}

/* for citations */ 

cite {
	background-color: var(--quoteBorder);
	color: white;
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
	display: block;
}

cite a:link {
	color: white;
}
