/* obsidian-calendar-plugin */
/* https://github.com/liamcain/obsidian-calendar-plugin */

#calendar-container {
  font-size: 0.8em;
}

#calendar-container th {
  padding: 2px;
}

#calendar-container .day,
#calendar-container .week-num {
  padding: 2px;
}